block content
  // Tabela para exibir os resultados
  table.table.table-bordered.table-striped.table-hover
    thead
      tr
        th Nome
        th Email
        th Telefone
        th Ações
        tbody#resultados