extends ../layout

block content
  body.bg-light.text-dark

    include ../header
    hr

    div(class="container home-page")
      //- section
        //- div.container
      h2.text-center Buscar Usuário
      div(class="row justify-content-center")
        div(class="col-md-7 col-sm-12")
          div(id="alert-list" class="alert alert-danger d-none" role="alert")
      form
      div(class="row justify-content-center")
        div(class="col-md-7 col-sm-12")
          div(class="row")
            div(class="col-md-7 col-sm-12")
              div(class="form-group")
                label(for="email" class="form-label") Email
                input(id="email" type="email" class="form-control" placeholder="SeuEmail@exemplo.com" required)
            div(class="col-md-4 col-sm-12 d-flex justify-content-md-start justify-content-center")
              div(class="form-group d-flex")
                button(id="consult-btn" type="button" class="btn btn-primary align-self-end" onclick="onConsult()") CONSULTAR&nbsp;&nbsp;
                  span(id="icon-search" class="fa fa-search" aria-hidden="true")
                  span(id="icon-loading" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true")
          div(class="row text-center")
            div(class="col-md-7 col-sm-12")
              div(class="h-captcha" data-sitekey=`${HCAPTCHA_SITEKEY}`)
        div(class="col-md-10 col-sm-12 mt-3")
          div(class="row text-center")
            include result-list
